*{
    box-sizing: border-box;
}
body{
    background-image: url(https://images.unsplash.com/photo-1584698019502-662f00ce1a06?w=620&auto=format&fit=crop&q=60&ixlib=rb-4.0.3);
    background-size: cover;
}
h1{
    color: white;
    font-size: 50px;
    text-align: center;
}
input{
    margin-left: 600px;
}
h2{
    color: white;
    text-align: center;
}